{% extends "./master/blank.html" %}

{% block stylesheet %}
<style type="text/css">

* {
  font-family: Roboto, sans-serif;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.flexbox {
  background: linear-gradient(155deg, #3bc1ed, #165f78, #003040);
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  height: 460px;
  margin: 50px 20px;
  position: relative;
  transition: height 0.25s;
}

.content.high {
  height: 450px;
}

.box {
  background: white;
  width: calc(100% - 50px);
  height: 100%;
  padding: 0 25px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  box-shadow: 0 3px 10px #1a1a1a;
  transition: transform 0.5s;
}

.box#login.show {
  z-index: 1;
  transform: rotateY(0deg);
}

.box#register {
  z-index: 1;
  transform: rotateY(0deg);
}

.field:first-child {
  padding-top: 20px;
}

.field {
  margin: 0 10px;
  margin-bottom: 20px;
}

.field > input {
  font-size: 16px;
  background: #e2e2e2;
  width: 100%;
  height: 35px;
  padding: 0 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
  border-radius: 5px;
}

.sign-in {
  font-size: 24px;
  line-height: 20px;
  padding: 10px 0 15px;
}

.sign-in > small {
  color: #a2a2a2;
  font-weight: normal;
  font-size: 16px;
}

.btn-sign-in {
  color: white;
  font-size: 16px;
  background: #00a6de;
  width: 100%;
  height: 35px;
  border: none;
  margin: 10px 0 20px;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  text-shadow: 0 -1px #00506b;
}

.btn-sign-in:active {
  background: #008ab8;
}

.trouble {
  color: #1bb1e3;
  text-decoration: none;
}

.trouble:hover {
  text-decoration: underline;
}

@media (min-width: 480px) {
  .content {
    width: 400px;
  }
}

</style>


{% endblock %}


{% block body %}
 <div class="flexbox">
  <div class="content">
    <form id="register" class="box ">
      <div class="field">
        <div class="sign-in">注册<br><small>创建新用户</small></div>
      </div>
      <div class="field">
        <label>用户名</label>
        <input type="text">
      </div>
      <div class="field">
        <label>密码</label>
        <input type="password">
      </div>
      <div class="field">
        <label>确认密码</label>
        <input type="password">
      </div>
      <div class="field">
        <a href="/sign" id="back" class="trouble">已有账号?现在登录</a>
      </div>
      <div class="field">
        <button type="submit" class="btn-sign-in" id="resigter-button">现在注册！</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block javascript %}
  <script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
<script type="text/javascript">
  $(function(){
    alert('ok');
      $('#register').onsubmit(function(){
      });
  });
  </script>
{% endblock %}